{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>

  <div class="row fact-col">  
  <div class="col-md-2 fact-col-start">
      <div class="fact-col-img">{{ content.field_faculty_member }}</div>
      <div class="sub-heading">{{ content.body }}</div>
  </div>
  
 
  
 <div class="col-md-10 fact-col-end">
        <div class="fact-col-inn"> {{ content.field_faculty_email }}</div>
        <div class="fact-col-inn"> {{ content.field_college_subcollege }}</div>
        <div class="fact-col-inn"> {{ content.field_department }}</div>
        <div class="fact-col-inn"> {{ content.field_specialization }}</div>
        <div class="fact-col-inn"> {{ content.field_qualification }}</div>
        <div class="fact-col-inn"> {{ content.field_rank }}</div>
</div>

<div class="fact-col-cv">{{ content.field_cv }}</div>
</div>

</article>
