<div class="container1 paragraph--text-image-option-1">
    <div class="row box-withbg">
            <div class="col-md-7 col-sm-12 box-withbg-image">
                <div class="box-withbg-inn">
                   <div class="img-box">{{ content.field_image_of_paragraph }}</div>
              </div>
            </div>
            
            <div class="col-md-5 col-sm-12 box-withbg-desp">
                <div class="box-withbg-inn">
                   <div class="title-box"> {{ content.field_title_of_paragraph }}</div>
                   <div class="descp-box"> {{ content.field_description_of_paragraph }}</div>
               </div>
            </div>

    </div>
</div>





{#<div class="l11-container">#}

    
{#    <div class="l2-b421">#}


{#    {{ content.field_title_of_paragraph }}#}
{#    {{ content.field_description_of_paragraph }}#}


{#    </div>#}
    
   
   
   
{#        <div class="l1-b421">#}
{#    {{ content.field_image_of_paragraph }}#}



{#    </div>#}
    
   
    
{#</div>#}


    {#{{ content.field_more_paragraph }}#}
    {#{{ content.field_image_of_paragraph_2 }}#}