<div class="container1 paragraph--text-image-option-2">
    <div class="row">
       <div class="col-md-6 col-sm-12 image-item">
           {{ content.field_image_of_paragraph }}
           <div class="description-image">{{ content.field_description_of_paragraph_2 }}</div>
       </div>
       <div class="col-md-6 col-sm-12 descp-item">
           <div class="col-md-7 container-descp">
               <h2 class="title-colored">{{ content.field_title_of_paragraph }}</h2>
               <div class="container-descp-text">{{ content.field_description_of_paragraph }}</div>
               <div class="paragraph-link-more">{{ content.field_more_paragraph }}</div>
           </div>
       </div>
    </div>
</div>
