
<div class="l12-container">
     <div class="l1-b42">
    {{ content.field_image_of_paragraph }}
        {{ content.field_image_of_paragraph_2 }}


    </div>
    
    
    <div class="l2-b42">


    {{ content.field_title_of_paragraph }}
    {{ content.field_description_of_paragraph }}
    {{ content.field_more_paragraph }}

    </div>
    
    
</div>